@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono-Regular.ttf");
}

@font-face {
  font-family: "MajorMono";
  src: url("../fonts/MajorMonoDisplay-Regular.ttf");
}

$colors: (
  background: #333333,
  text: #ffffff,
);

$normal: "RobotoMono";
$style-font: "MajorMono";

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: map-get($map: $colors, $key: "background");
  color: map-get($map: $colors, $key: "text");
  font-size: 1rem;
  font-family: $normal;
  line-height: 1.5rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

#layout-wrapper {
  min-height: 100vh;
  margin: 0 auto;
}

#header {
  width: 100%;
  height: 2rem;
  position: absolute;
}

#nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;

  ul {
    margin: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-between;
    background-color: #000000;
    padding: 0.5rem;
    border-radius: 50px;

    li {
      padding: 0.5rem;
    }
  }
}

#hero {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#top-arc {
  position: absolute;
  top: -15rem;
  width: 100%;
  height: 475px;
  border-radius: 35%;
  background-color: #292828;
  width: 100%;
  height: 475px;
}

.self-intro {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10px;

  h1 {
    font-size: 5rem;
    font-family: $style-font;
    font-weight: 10;
    letter-spacing: 0.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }
}

#display-picture {
  padding: 5rem;
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: unset;
    background-color: #3b3a3a;
  }
}
