@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoMono-Regular.ttf");
}

$colors: (
  background: #333333,
  text: #ffffff,
);

:export {
  background: map-get($map: $colors, $key: "background");
}

$font: "Roboto";

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: map-get($map: $colors, $key: "background");
  color: map-get($map: $colors, $key: "text");
  font-size: 1rem;
  font-family: $font;
  line-height: 1.5rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
  line-height: 2.375rem;
  @media (min-width: map-get($map: $breakpoints, $key: "sm")) {
    font-size: 2.625rem;
    line-height: 4rem;
  }
}

#layout-wrapper {
  min-height: 100vh;
  margin: 0 auto;
}

#header {
  width: 100%;
  height: 2rem;
  position: absolute;
  z-index: 3;
}

#nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: auto;
    width: map-get($breakpoints, "xs");
  }
}

#hero {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
